@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>@ViewBag.Name</dd>

    <dt>Object ID</dt>
    <dd>@ViewBag.ObjectId</dd>

    <dt>Given Name</dt>
    <dd>@ViewBag.GivenName</dd>

    <dt>Surname</dt>
    <dd>@ViewBag.Surname</dd>

    <dt>UPN</dt>
    <dd>@ViewBag.UPN</dd>

</dl>
